<h1 class="ui header centered login-header">Welcome to MessageMe - <em>a complete Chat App</em></h1>
<h3 class="ui center aligned icon header">
  <i class="circular shutdown icon orange"></i>
  Log in to continue
</h3>

<%=render 'login-form'%>
