<div class="ui card fluid raised chatbox">
  <div class="content">
    <div class="ui feed" id="message-container">

    <%=render @messages%>

    </div>
  </div>
  <div class="extra content">
    <%= form_for(@message, html: {class: 'ui reply form'}, role: 'form', url: message_path, remote: true) do |f|%>

        <div class="field">
          <div class="ui fluid icon input">
            <%=f.text_field :body%>
            <%=f.button '<i class="icon send"></i>'.html_safe, class: 'ui button primary'%>
          </div>
        </div>

    <%end%>
  </div>
</div>
